#root {
  width: 100%;
  max-width: 390px;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: #fdefca;
  overflow-x: hidden;
}

p {
  margin: 0;
}

input,
textarea {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.movieScreen {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  overflow: hidden;
  margin-bottom: 15px;
}

.movieScreen video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.seekBar {
  width: 95%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.seekBar input {
  flex: 1;
}
.seekBar input {
  width: 100%;
}

.playPauseButton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #ffb2c4;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seekButtonArea {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 15px;
}

.seekButton,
.seekButtonF {
  width: 52px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #ff996f;
  background-color: #fff3ee;
  border-radius: 5px;
  border: 2px solid #ff996f;
}

.seekButtonF {
  color: #89ce21;
  background-color: #f6feea;
  border: 2px solid #89ce21;
}

.speedButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.speedButton {
  width: 48px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #cdeaf8;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.speedButton.selected {
  width: 48px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #2db3f6;
  background-color: #cdeaf8;
  border-radius: 5px;
  border: 2px solid #2db3f6;
}

.timeArea {
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #aeadad;
  border-radius: 5px;
}

.startTime,
.endTime {
  height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.startTime p,
.endTime p {
  font-size: 16px;
}
.startTime input,
.endTime input {
  font-size: 16px;
  width: 65px;
  height: 30px;
}

.elapsed-score {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.elapsedTime {
  font-size: 16px;
  font-weight: bold;
}

.score {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.score input {
  margin-left: 5px;
  width: 60px;
}

.scorePerMinuteSaveButtonArea {
  margin-top: 5px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.scorePerMinute {
  font-size: 20px;
  font-weight: bold;
}

.pick,
.move {
  width: 52px;
  height: 30px;
}

.pick {
  background-color: #e8e8e8;
  border-radius: 5px;
}
.move {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.memoArea {
  width: 100%;
  padding: 20px 15px;
}

.memoArea .topArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}
.memoArea .topArea p {
  font-size: 20px;
}

.memoArea textarea {
  width: 100%;
  height: 80px;
}

.saveScreen {
  font-size: 14px;
  width: 90px;
  height: 35px;
  color: white;
  background-color: #7d7d7d;
  border-radius: 5px;
}

/* モーダル */
.modalOverlay {
  position: fixed;
  top: 53vh;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #000000af;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  font-size: 14px;
  width: 90%;
  min-height: 48vh;
  max-width: 390px;
  margin-top: 5px;
  padding: 25px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  position: relative;
  line-height: 1.8;
}

.flexbox {
  display: flex;
  gap: 20px;
}

.modalContent span {
  font-weight: bold;
  margin-left: 10px;
  font-size: 18px;
  color: #007d13;
}

.modalContent button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 22px;
  line-height: 1;
  background-color: white;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
}

.modalMemo {
  white-space: pre-wrap;
  padding: 5px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}

.modalMemo p {
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 5px;
  color: #868585;
}
